/*Ajustar tamaño del mega menu*/
.header .primary .megamenu>.sub {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	left:-15px;
	padding:0;
	width:665px;
	z-index:800;
}
.header .primary .megamenu>.sub.caja-4 {
	width: 600px;
}
/*Ajustar tamaño del contenedor de la foto*/
.header .primary .megamenu.promo>.sub .sub-list {
	width: 66%;
}
/*Ajustamos el ancho para que los cuadros ocupen todo el megamenu este sera especifico del megamenu de Servicios*/
.header .primary .megamenu.promo>.sub .sub-list.caja-4 {
	width: 100%;
}
/*Ajustamos el ancho entre las columnas*/
.header .primary .megamenu.four-columns>.sub .sub-list {
	width: 100%;
}
/*Esto nos dara la distancia dentre los iconos de cliente y el pie de pÃ¡gina*/
#main {
	padding: 0px 0;
}
/*Con esto vamos a modificar las propiedades del texto que esta dentro de la imagen */
.slider .slid-content .title {
	color:#26102e;
	font-size:20px;
	line-height:24px;
	margin:0 0 34px;
}

/*redondear iconos que aparecen en el megamenu*/
.redondeamelo {
	border-radius: 200px;
}


/*Propiedad que hace que en la cabecera nos baje el telefono de forma distinta a la original*/
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px
}
/*Con esto quitaremos el borde izquierdo del megamenu*/
.header .primary .megamenu > .sub .sub-list + .promo-block {
  border-left: none;
  border-right: 0 none;
}

/*Propiedades para el boton del enviar del formulario*/
.ps-emailform #carril {
  height: 32px;
  width: 256px;
  background-image: url('../img/png-icons/carril-carril.png');
  background-repeat: no-repeat;
}
 .ps-emailform #movil {
  height: 32px;
  width: 112px;
  background-image: url('../img/png-icons/carril-movil.png');
  background-repeat: no-repeat;
  float: left;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.ps-emailform #meta {
  height: 32px;
  width: 112px;
  float: right;
}

.ps-final {}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ps-ayuda {}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*fin propiedades del boton envio slider*/

/*Separación de la notificación con respecto a el botón slide de envio*/
.separador{
    top:25px;
}


