h1 {
	font-size: 2em;
	color: #2262AD;
	line-height: 1.15em;
	margin: 20px 0 ;

}

header{
    color: white;
    background: #333;
}


header p {
  font-family: 'Open Sans Condensed', sans-serif;
  color:rgb(200,200,190); 
  text-transform: uppercase;
  text-decoration: overline;
  font-size: 2em;
  letter-spacing: 0.1em;
  margin:auto;
  text-align: center;
  position: relative;
  
}


header P:hover {
  color: #F7BE3C;
}
